/* src/TextBar.css */
.textbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  min-height: 200px; /* Adjust if needed */
  width: 100%; /* Ensure it uses full available width */
}

.textbar input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textbar button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.textbar button:disabled {
  background-color: #cccccc;
}

.textbar .error {
  color: red;
  font-weight: 400px;
}

.textbar p {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400px;
  color:lightskyblue;
}
